<section class="container">
  <mat-tab-group
    mat-stretch-tabs
    fitInkBarToContent
    class="container__tab-group"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="container__tab-group__title">Tipos</span>
      </ng-template>

      <app-pokemon-types></app-pokemon-types>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="container__tab-group__title">Pokedex</span>
      </ng-template>
      <app-pokedex></app-pokedex>
    </mat-tab>
  </mat-tab-group>
</section>
