<section class="container radius">
  <div class="container__search-box radius shadow">
    <mat-form-field class="container__search-box__field" appearance="outline">
      <mat-label>Buscar Por tipo</mat-label>
      <input
        type="text"
        placeholder="Ex.: grass"
        matInput
        [formControl]="searchControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="search($event.option.value)"
      >
        <mat-option
          *ngFor="let option of filteredTypeOptions$ | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="container__chart-box" [style]="{ height: chartheight }">
    <canvas
      baseChart
      class="container__chart-box__chart radius shadow"
      [data]="(barChart$ | async)?.barChartData"
      [options]="(barChart$ | async)?.barChartOptions"
      [legend]="true"
      [type]="'bar'"
      (appGetCurrentVhHeight)="updateChartHeight($event)"
    >
    </canvas>
  </div>
</section>
