<section class="container">
  <div class="container__search-box">
    <mat-form-field class="container__search-box__field" appearance="outline">
      <mat-label>Buscar Por tipo</mat-label>
      <input
        type="text"
        placeholder="Ex.: grass"
        matInput
        [formControl]="searchControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="search($event)"
      >
        <mat-option
          *ngFor="let option of filteredTypeOptions$ | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <canvas
    baseChart
    class="container__chart"
    [data]="(barChartData$ | async)!"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [type]="'bar'"
  >
  </canvas>
</section>
