.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  padding: 10px;

  &__avatar {
    max-height: 50%;
    max-width: 70%;
  }

  &__name {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 10px;
  }

  &__type {
    font-weight: 500;
    padding: 3px 8px;
    margin: 2px;
    color: #ffffff;
    background-color: #ffffff47;
  }
}
.active {
  .container__name,
  .container__type {
    color: rgba(0, 0, 0, 0.6);
  }
}

.skeleton {
  width: 200px;
  height: 200px;
}
