<section *ngIf="pokemon" class="container radius shadow">
  <div
    class="container__avatar radius"
    [style.backgroundColor]="pokemon.bgColor"
  >
    <button
      class="container__avatar__close"
      mat-icon-button
      (click)="closeDetails.emit()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <button
      class="container__avatar__close dialog-close"
      mat-icon-button
      mat-dialog-close="true"
      (click)="closeDetails.emit()"
    >
      <mat-icon>close</mat-icon>
    </button>
    <img class="container__avatar__img" [src]="pokemon.imgUrl" alt="" />
    <span class="container__avatar__name"
      >{{ pokemon.name }} {{ pokemon.id }}</span
    >
  </div>
  <div class="container__infos">
    <div class="container__infos__types">
      <span
        class="container__infos__type radius"
        *ngFor="let type of pokemon.types"
        [style.backgroundColor]="type.bgColor"
        >{{ type.name }}</span
      >
    </div>
    <div class="container__infos__characteristics">
      <span class="title">Características</span>

      <div class="container__infos__characteristics__item">
        <span class="container__infos__characteristics__item__title"
          >Altura:
        </span>
        <span class="container__infos__characteristics__item__value">{{
          pokemon.height
        }}</span>
      </div>
      <div class="container__infos__characteristics__item">
        <span class="container__infos__characteristics__item__title"
          >Peso:
        </span>
        <span class="container__infos__characteristics__item__value">{{
          pokemon.weight
        }}</span>
      </div>
    </div>
    <div class="container__infos__abilities">
      <span class="title">Habilidades</span>
      <span
        class="container__infos__abilities__ability"
        *ngFor="let ability of pokemon.abilities"
        >{{ ability }}</span
      >
    </div>
    <div class="container__infos__stats">
      <span class="title">Estatísticas</span>
      <app-pokemon-stat
        *ngFor="let stat of pokemon.stats"
        [stat]="stat"
      ></app-pokemon-stat>
    </div>
  </div>
</section>

<ng-template #skeleton>
  <mat-spinner
    class="skeleton__spinner"
    color="accent"
    [diameter]="50"
  ></mat-spinner>
</ng-template>
