.container {
  display: flex;

  &__cards-list {
    margin: 0 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;

    &__search-box {
      width: 100%;
      margin: 10px 0;
      background-color: #ffffff;
      padding: 15px 20px 0;
      display: flex;
      gap: 10px;

      &__field {
        flex: 1;
      }
    }

    &__paginator {
      width: 100%;
    }

    &__card {
      flex: 1;
      min-width: 225px;
      max-width: 400px;

      @media screen and (max-width: 768px) {
        min-width: 200px;
        max-width: 400px;
      }
    }
  }
}
