.container {
  display: flex;

  &__cards-box {
    margin: 0 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;

    &__search-box {
      width: 100%;
      margin: 10px 0;
      background-color: #ffffff;
      padding: 15px 20px 0;
      display: flex;
      gap: 10px;

      &__field {
        flex: 1;
      }
    }

    &__paginator {
      width: 100%;
    }

    &__card-list {
      display: grid;
      gap: 0.5rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      @media screen and(max-width: 800px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media screen and(max-width: 600px) {
        grid-template-columns: 1fr 1fr;
      }

      @media screen and(max-width: 400px) {
        grid-template-columns: 1fr;
      }
    }

    &__card-list.isDetailsOpen {
      grid-template-columns: 1fr 1fr 1fr;

      @media screen and(max-width: 920px) {
        grid-template-columns: 1fr 1fr;
      }

      @media screen and(max-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media screen and(max-width: 600px) {
        grid-template-columns: 1fr 1fr;
      }

      @media screen and(max-width: 400px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
