<section class="container">
  <div class="container__cards-box">
    <div class="container__cards-box__search-box radius shadow">
      <mat-form-field
        class="container__cards-box__search-box__field"
        appearance="outline"
      >
        <mat-label>Buscar Pokemon</mat-label>
        <input
          type="text"
          placeholder="Ex.: Bulbasaur"
          matInput
          [formControl]="searchControl"
        />
      </mat-form-field>
    </div>
    <ng-container *ngTemplateOutlet="paginator"></ng-container>
    <div
      class="container__cards-box__card-list"
      [ngClass]="{ isDetailsOpen: selectedPokemon }"
    >
      <app-pokemon-card
        class="container__cards-box__card-list__card"
        *ngFor="
          let pokemon of currentPagePokemons$ | async;
          trackBy: pokemonTrackByFn
        "
        [pokemon]="pokemon"
        [activePokemon]="selectedPokemon"
        (onSelect)="setSelectedPokemon($event)"
      ></app-pokemon-card>
    </div>
  </div>
  <app-pokemon-details
    *appMinWidth="768"
    class="container__details"
    [pokemon]="selectedPokemon"
    [@expandAnimation]="selectedPokemon ? 'open' : 'close'"
    (closeDetails)="unselectPokemon()"
  ></app-pokemon-details>
</section>

<ng-template #paginator>
  <mat-paginator
    class="container__cards-box__paginator radius shadow"
    [length]="pokemonsLength$ | async"
    [pageSize]="12"
    [pageSizeOptions]="[12, 24, 48]"
    (page)="searchPage($event)"
  >
  </mat-paginator>
</ng-template>
